/* inter-500 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/inter-v12-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("assets/fonts/inter-v12-latin-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("assets/fonts/inter-v12-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("assets/fonts/inter-v12-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("assets/fonts/inter-v12-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("assets/fonts/inter-v12-latin-500.svg#Inter")
      format("svg"); /* Legacy iOS */
}
/* inter-600 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("assets/fonts/inter-v12-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("assets/fonts/inter-v12-latin-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("assets/fonts/inter-v12-latin-600.woff2") format("woff2"),
    /* Super Modern Browsers */ url("assets/fonts/inter-v12-latin-600.woff")
      format("woff"),
    /* Modern Browsers */ url("assets/fonts/inter-v12-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("assets/fonts/inter-v12-latin-600.svg#Inter")
      format("svg"); /* Legacy iOS */
}
/* inter-700 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/inter-v12-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("assets/fonts/inter-v12-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("assets/fonts/inter-v12-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("assets/fonts/inter-v12-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("assets/fonts/inter-v12-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("assets/fonts/inter-v12-latin-700.svg#Inter")
      format("svg"); /* Legacy iOS */
}
/* inter-800 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("assets/fonts/inter-v12-latin-800.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("assets/fonts/inter-v12-latin-800.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("assets/fonts/inter-v12-latin-800.woff2") format("woff2"),
    /* Super Modern Browsers */ url("assets/fonts/inter-v12-latin-800.woff")
      format("woff"),
    /* Modern Browsers */ url("assets/fonts/inter-v12-latin-800.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("assets/fonts/inter-v12-latin-800.svg#Inter")
      format("svg"); /* Legacy iOS */
}
/* inter-900 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("assets/fonts/inter-v12-latin-900.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("assets/fonts/inter-v12-latin-900.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("assets/fonts/inter-v12-latin-900.woff2") format("woff2"),
    /* Super Modern Browsers */ url("assets/fonts/inter-v12-latin-900.woff")
      format("woff"),
    /* Modern Browsers */ url("assets/fonts/inter-v12-latin-900.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("assets/fonts/inter-v12-latin-900.svg#Inter")
      format("svg"); /* Legacy iOS */
}

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 125%;
}

body {
  margin: 20px;
  font-family: "Inter";
  font-size: 1.6rem;
  /* line-height: -3.6; */
  color: #000;
  background-color: #fff;
}

h1 {
  font-size: 4.4rem;
  font-weight: 800;
  /* line-height: 2.4; */
  /* margin-bottom: 1.2rem; */
  letter-spacing: -0.18rem;
}

h2 {
  font-size: 2.8rem;
  /* line-height: 2; */
  /* margin-bottom: 1.2rem; */
  letter-spacing: -0.15rem;
}

h3 {
  font-size: 1.6rem;
  /* line-height: 1.6; */
  /* margin-bottom: 1.2rem; */
  letter-spacing: -0.1rem;
}

h4 {
  font-size: 1.4rem;
  /* line-height: 1.4; */
  /* margin-bottom: 1.2rem; */
  letter-spacing: -0.1rem;
}

p {
  font-size: 1.2rem;
  /* line-height: 1.2; */
  /* margin-bottom: 1.2rem; */
  letter-spacing: -0.1rem;
}

a {
  font-size: 1.4rem;
  font-weight: 600;
  /* line-height: 1.4; */
  /* margin-bottom: 1.2rem; */
  letter-spacing: -0.1rem;
}

/* .lineHeight {
  line-height: 90%;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2.7rem;
}

.main > .text {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 4rem;
}

.main .text h1,
h2,
h3,
h4,
p {
  margin-bottom: 0;
}

.main > .profile {
  flex-grow: 1;
}

.main .profile .image {
  background-image: url("assets/photos/profile.JPG");
  height: 800px;
  width: 100%;
  min-width: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: blue;
  padding: 0.9rem 2.7rem;
}

.navbar .logo h2 {
  color: white;
}

.innerText h4 span {
  background: linear-gradient(-45deg, #43c0ff, #43c0ff, #ff91bf, #ff91bf);
  background-size: 300%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animatedText 5s ease-in-out infinite;
  -moz-animation: animatedText 5s ease-in-out infinite;
  -webkit-animation: animatedText 5s ease-in-out infinite;
}

.construction {
  color: #ffc400;
} */

.navbar,
.text,
.profile,
.skills,
.projects,
.footer {
  transition: transform 1s, box-shadow 0.3s;
  border-radius: 10px;
}

.navbar {
  grid-area: navbar;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(1, 0, 255);
  color: white;
  padding: 0 25px;
  /* position: fixed; */
  /* z-index: 5; */
}

/* .navbar:hover {
  transform: scale(1.015);
  box-shadow: 0 0 30px rgba(33, 33, 33, 0.2);
} */

/* .navbar .logo {
  font-size: 6rem;
} */

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .logo {
  display: flex;
  align-items: center;
  height: 85px;
  width: 85px;
}

.text {
  grid-area: textArea;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: black;
}

.text:hover {
  transform: scale(1.015);
  box-shadow: 0 0 30px rgba(33, 33, 33, 0.2);
}

.text .shade {
  background: linear-gradient(-45deg, #43c0ff, #43c0ff, #ff91bf, #ff91bf);
  background-size: 300%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animatedText 4s ease-in-out infinite;
  -moz-animation: animatedText 4s ease-in-out infinite;
  -webkit-animation: animatedText 4s ease-in-out infinite;
}

/* .italy:hover {
  cursor: pointer;
  background: linear-gradient(
    -45deg,
    #ff0000,
    #ff0000,
    white,
    white,
    #008c36,
    #008c36
  );
  background-size: 300%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animatedText 2s ease-in-out infinite;
  -moz-animation: animatedText 2s ease-in-out infinite;
  -webkit-animation: animatedText 2s ease-in-out infinite;
} */

/* .innerText {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
} */

.innerText h1 {
  font-size: 12rem;
}

.innerText h2 {
  font-size: 4rem;
  line-height: 100%;
  color: rgb(160, 160, 160);
}

.profile {
  grid-area: profile;
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("assets/photos/profile.JPG");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.profile:hover {
  transform: scale(1.015);
  box-shadow: 0 0 30px rgba(33, 33, 33, 0.2);
}

.skills {
  grid-area: skills;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 3rem;
  align-items: center;
  padding: 30px;
}

.skills:hover {
  transform: scale(1.015);
  box-shadow: 0 0 30px rgba(33, 33, 33, 0.2);
}

.languages {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  gap: 30px;
  padding: 0 80px;
}

.projects {
  grid-area: projects;
  background-color: rgb(255, 221, 28);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects:hover {
  transform: scale(1.015);
  box-shadow: 0 0 30px rgba(33, 33, 33, 0.2);
}

.footer {
  grid-area: footer;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  background-color: rgb(1, 0, 255);
  color: black;
}

.footer .links a {
  color: white;
}

.footer .buttons a {
  background-color: white;
  color: rgb(1, 0, 255);
  text-align: center;
  padding: 10px 25px;
  border-radius: 50px;
  text-decoration: none;
}

.buttons,
.links {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

/* .buttons a {
} */

.buttons a:hover {
  animation: shake 0.5s ease-in-out;
  -moz-animation: shake 0.5s ease-in-out;
  -webkit-animation: shake 0.5s ease-in-out;
}

.links a:hover {
  animation: shake 0.5s ease-in-out;
  -moz-animation: shake 0.5s ease-in-out;
  -webkit-animation: shake 0.5s ease-in-out;
}

.buttons .bi-envelope {
  padding-right: 15px;
}

.buttons .bi-download {
  padding-right: 15px;
}

.buttons .CV {
  font-weight: 800;
}

/* .footer:hover {
  transform: scale(1.015);
  box-shadow: 0 0 30px rgba(33, 33, 33, 0.2);
} */

.container {
  height: 200vh;
  /* justify-items: stretch; */
  /* justify-content: center; */
  align-content: center;
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.1fr 0.7fr 0.5fr 0.1fr;
  grid-template-areas:
    "navbar navbar navbar navbar"
    "textArea textArea profile profile"
    "skills skills projects projects"
    "footer footer footer footer";
}

/* canvas {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
} */

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
  /* transition: transform 0.25s, box-shadow 0.3s; */
}

.reveal.active:hover {
  transform: scale(1.015);
  box-shadow: 0 0 30px rgba(33, 33, 33, 0.2);
}

/* ****** ANIMATIONS ****** */

@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg);
  }
  20%,
  60% {
    transform: rotate(6deg);
  }
  40%,
  80% {
    transform: rotate(-6deg);
  }
}

@keyframes animatedText {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0px 50%;
  }
}

/* ****** BREAKPOINTS ****** */

/* Extra large devices (large laptops and desktops, 1640px and down) */
@media only screen and (max-width: 1640px) {
  html {
    font-size: 85%;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
  html {
    font-size: 55%;
  }

  body {
    margin: 50px 20px;
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.08fr 0.5fr 0.5fr 0.5fr 0.08fr;
    grid-template-areas:
      "navbar"
      "textArea"
      "skills"
      "projects"
      "footer";
  }

  .profile {
    display: none;
  }

  .navbar .logo {
    height: 60px;
    width: 60px;
  }

  .footer {
    padding-top: 20px;
    flex-direction: column;
  }

  .footer a {
    font-size: 1.4rem;
    padding: 20px 15px;
  }

  .footer .buttons a {
    padding: 10px 15px;
    border-radius: 50px;
  }

  .buttons,
  .links {
    gap: 10px;
  }
}
