:root {
  --globalFont: "NimbusSanLRegular";
  --globalColor: #ffe200;
  --top: 30px;
}

* {
  margin: 0;
  padding: 0;
  /* font-family: "Shadows Into Light", cursive; */
  font-family: var(--globalFont);
  /* font-weight: normal; */
  /* font-style: normal; */
}

body {
  background-color: #000;
}

h1 {
  font-size: 7rem;
  letter-spacing: -0.4rem;
}

h2 {
  font-size: 3rem;
  letter-spacing: -0.2rem;
}

h3 {
  font-size: 2rem;
  letter-spacing: -0.1rem;
}

h4 {
  font-size: 1.5rem;
  letter-spacing: -0.05rem;
}

.intro {
  margin-top: var(--top);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profilePic > img {
  width: 500px;
  height: 600px;
}

.title {
  color: var(--globalColor);
  text-align: center;
  padding: 0 20px;
}

.mainContainer {
  margin-top: var(--top);
}

/* .dividerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.divider > img {
  width: 100%;
  height: 200px;
}

.skillsContainer {
  color: var(--globalColor);
  margin-top: var(--top);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skillsLabels {
  margin-top: var(--top);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skill {
  border: 4px solid var(--globalColor);
  border-radius: 50px;
  margin: 10px;
  padding: 20px;
}

.storyContainer {
  color: var(--globalColor);
  margin-top: var(--top);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arrowDivider {
  width: 200px;
  height: 100%;
}

.storyTitle {
  margin-top: var(--top);
  letter-spacing: -0.04rem;
}
