/* inter-500 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/inter-v12-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("assets/fonts/inter-v12-latin-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("assets/fonts/inter-v12-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("assets/fonts/inter-v12-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("assets/fonts/inter-v12-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("assets/fonts/inter-v12-latin-500.svg#Inter")
      format("svg"); /* Legacy iOS */
}
/* inter-600 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("assets/fonts/inter-v12-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("assets/fonts/inter-v12-latin-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("assets/fonts/inter-v12-latin-600.woff2") format("woff2"),
    /* Super Modern Browsers */ url("assets/fonts/inter-v12-latin-600.woff")
      format("woff"),
    /* Modern Browsers */ url("assets/fonts/inter-v12-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("assets/fonts/inter-v12-latin-600.svg#Inter")
      format("svg"); /* Legacy iOS */
}
/* inter-700 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/inter-v12-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("assets/fonts/inter-v12-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("assets/fonts/inter-v12-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("assets/fonts/inter-v12-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("assets/fonts/inter-v12-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("assets/fonts/inter-v12-latin-700.svg#Inter")
      format("svg"); /* Legacy iOS */
}
/* inter-800 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("assets/fonts/inter-v12-latin-800.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("assets/fonts/inter-v12-latin-800.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("assets/fonts/inter-v12-latin-800.woff2") format("woff2"),
    /* Super Modern Browsers */ url("assets/fonts/inter-v12-latin-800.woff")
      format("woff"),
    /* Modern Browsers */ url("assets/fonts/inter-v12-latin-800.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("assets/fonts/inter-v12-latin-800.svg#Inter")
      format("svg"); /* Legacy iOS */
}
/* inter-900 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("assets/fonts/inter-v12-latin-900.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("assets/fonts/inter-v12-latin-900.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("assets/fonts/inter-v12-latin-900.woff2") format("woff2"),
    /* Super Modern Browsers */ url("assets/fonts/inter-v12-latin-900.woff")
      format("woff"),
    /* Modern Browsers */ url("assets/fonts/inter-v12-latin-900.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("assets/fonts/inter-v12-latin-900.svg#Inter")
      format("svg"); /* Legacy iOS */
}

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 125%;
}

body {
  margin: 20px;
  font-family: "Inter";
  font-size: 1.6rem;
  /* line-height: -3.6; */
  color: #000;
  background-color: #fff;
}

h1 {
  font-size: 4.4rem;
  font-weight: 800;
  /* line-height: 2.4; */
  /* margin-bottom: 1.2rem; */
  letter-spacing: -0.18rem;
}

h2 {
  font-size: 2rem;
  /* line-height: 2; */
  /* margin-bottom: 1.2rem; */
  letter-spacing: -0.15rem;
}

h3 {
  font-size: 1.6rem;
  /* line-height: 1.6; */
  /* margin-bottom: 1.2rem; */
  letter-spacing: -0.1rem;
}

h4 {
  font-size: 1.4rem;
  /* line-height: 1.4; */
  /* margin-bottom: 1.2rem; */
  letter-spacing: -0.1rem;
}

p {
  font-size: 1.2rem;
  /* line-height: 1.2; */
  /* margin-bottom: 1.2rem; */
  letter-spacing: -0.1rem;
}

/* .lineHeight {
  line-height: 90%;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2.7rem;
}

.main > .text {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 4rem;
}

.main .text h1,
h2,
h3,
h4,
p {
  margin-bottom: 0;
}

.main > .profile {
  flex-grow: 1;
}

.main .profile .image {
  background-image: url("assets/photos/profile.JPG");
  height: 800px;
  width: 100%;
  min-width: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: blue;
  padding: 0.9rem 2.7rem;
}

.navbar .logo h2 {
  color: white;
}

.innerText h4 span {
  background: linear-gradient(-45deg, #43c0ff, #43c0ff, #ff91bf, #ff91bf);
  background-size: 300%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animatedText 5s ease-in-out infinite;
  -moz-animation: animatedText 5s ease-in-out infinite;
  -webkit-animation: animatedText 5s ease-in-out infinite;
}

.construction {
  color: #ffc400;
} */

.navbar,
.text,
.profile,
.skills,
.projects,
.footer {
  transition: transform 0.25s, box-shadow 0.3s;
  border-radius: 10px;
}

.navbar {
  grid-area: navbar;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blue;
  color: white;
}

.navbar:hover {
  transform: scale(1.015);
  box-shadow: 0 0 30px rgba(33, 33, 33, 0.2);
}

.text {
  grid-area: textArea;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: black;
}

.text:hover {
  transform: scale(1.015);
  box-shadow: 0 0 30px rgba(33, 33, 33, 0.2);
}

.text .shade {
  background: linear-gradient(-45deg, #43c0ff, #43c0ff, #ff91bf, #ff91bf);
  background-size: 300%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animatedText 5s ease-in-out infinite;
  -moz-animation: animatedText 5s ease-in-out infinite;
  -webkit-animation: animatedText 5s ease-in-out infinite;
}

.italy:hover {
  cursor: pointer;
  background: linear-gradient(
    -45deg,
    #ff0000,
    #ff0000,
    white,
    white,
    #008c36,
    #008c36
  );
  background-size: 300%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animatedText 2s ease-in-out infinite;
  -moz-animation: animatedText 2s ease-in-out infinite;
  -webkit-animation: animatedText 2s ease-in-out infinite;
}

.profile {
  grid-area: profile;
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile:hover {
  transform: scale(1.015);
  box-shadow: 0 0 30px rgba(33, 33, 33, 0.2);
}

.skills {
  grid-area: skills;
  background-color: lightgreen;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills:hover {
  transform: scale(1.015);
  box-shadow: 0 0 30px rgba(33, 33, 33, 0.2);
}

.projects {
  grid-area: projects;
  background-color: rgb(236, 255, 128);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects:hover {
  transform: scale(1.015);
  box-shadow: 0 0 30px rgba(33, 33, 33, 0.2);
}

.footer {
  grid-area: footer;
  background-color: lightgray;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer:hover {
  transform: scale(1.015);
  box-shadow: 0 0 30px rgba(33, 33, 33, 0.2);
}

.container {
  height: 200vh;
  /* justify-items: stretch; */
  /* justify-content: center; */
  align-content: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 80px 1fr 0.5fr 120px;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-areas:
    "navbar navbar navbar navbar"
    "textArea textArea profile profile"
    "skills skills projects projects"
    "footer footer footer footer";
}

/* ****** ANIMATIONS ****** */

@keyframes animatedText {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0px 50%;
  }
}

/* ****** BREAKPOINTS ****** */

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
  ...;
} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
  ...;
} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
  ...;
} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (max-width: 912px) {
  .main .text {
    padding-right: 0;
    padding-bottom: 50px;
  }
} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {
  ...;
} */
